
/* CSS PC */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Arial', sans-serif;
}

/* Enlève le soulignement des liens */
a {
    text-decoration: none;
    padding-right: 1px;
    color: rgb(228, 214, 214);
}

a:hover {
    color: #c0fdff;
}

/* Partie gauche */
.leftBlock {
    
    width: 45%;
    background-color: #a599ee;
    padding: 1%;
   
}

/* Photo */
/* .picture {
    padding-bottom: 12%;
    padding-left: 10%;
} */

/* .rectangle {
    width:170px;
    height:170px;
    background-color:#c0fdff;
} */

/* Nom prénom profession */
.name {
    font-size: 30px;
    color: #77dfe2(5, 5, 5);
    text-shadow: 1px 1px #77dfe2(5, 5, 5);
}

.name .subname {
    font-size: 20px;
    text-shadow: 2px 2px grey;
}

/* Profil */
.supertitle {
    font-size: 30px;
    color: #5cdbdb;
    padding-top: 10%;
    text-shadow: 10px 1x #17939c;
}

.aboutme {
    font-size: 20px;
    color: #080808;
}

/* Coordonnées/Hobbies */
.leftBlock .uppertitle {
    
    font-size: 30px;
    color: #5cdbdb;
    text-shadow: 1px 1px #17939c;
}

.location {
    font-size: 30px;
    color: #0a0a0a;
}

.hobbies {
    font-size: 30px;
    color: #242222;
}
.benevolat {
    font-size: 40px;
    color: #242222;
}

/* Barre sous les titres */
.leftBar {
    box-shadow: 2px 2px 0px 0px #72f0f5;
}

/* Partie droite */
.rightBlock {
    width: 45%;
       background-color: #c0fdff;
    padding : 1%;

}

/* Compétences/Expérience/Formations */
.rightBlock .uppertitle {
    font-size: 40px;
    color: #ae7ee6;
    text-shadow: 1px 1px #5272fd;
}

/* Titre */
.rightBlock .title {
    font-size: 30px;
}

/* Date */
.rightBlock .subtitle {
    font-size: 30px;
    color: #585656;
}

/* Texte */
.rightBlock .text {
    font-size: 30px;
    color: #585656;
}

/* Barre sous les titres */
.rightBlock .rightBar {
    box-shadow: 2px 2px 0px 0px #5272fd;
}



  