body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container-wrapper {
    display: flex;
    flex-direction: column;
}

.centered {
    text-align: center;
    margin-bottom: 10px; /* Ajoute un espacement en bas */
    margin-left: 100px; /* Décale vers la droite autant que possible */
    margin-right: auto; /* Décale vers la gauche autant que possible */
    max-width: 800px; /* Ajustez la largeur maximale selon vos besoins */
}
.container {
    display: flex;
}

.leftBlock {
    flex: 1;
    background-color: #dec4e9; /* Couleur attrayante */
    padding: 20px;
}

.rightBlock {
    flex: 2;
    background-color: #939090;
    padding: 20px;
}
.leftBar {
    margin-top: 20px; /* Ajoute un espacement en haut */
    /* Vos autres styles */
}
/* Couleur pour les sous-titres de la partie gauche */
.leftBlock .subname strong,
.leftBlock .subtitle {
    color: #2639a2; /* Couleur du texte pour les sous-titres de la partie gauche */
}

/* Couleur pour les titres de la partie droite */
.rightBlock h1.name strong { 
    color:aqua
}
.rightBlock h2.supertitle,
.rightBlock h2.uppertitle,
.rightBlock h3.title {
    color: #ff7f50; /* Couleur du texte pour les titres de la partie droite */
}

/* Couleur pour les sous-titres de la partie droite */
.rightBlock .subname strong,
.rightBlock .subtitle {
    color: #a5a5f3; /* Couleur du texte pour les sous-titres de la partie droite */
}
